<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.resource.core.mapper.ResourceAffairMapper">
  <resultMap id="BaseResultMap" type="com.zukxu.resource.core.entity.ResourceAffair">
    <!--@mbg.generated-->
    <!--@Table resource_affair-->
    <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="enable" property="enable" />
    <result column="relation_id" property="relationId" />
    <result column="type" property="type" />
    <result column="status" property="status" />
    <result column="handle_remark" property="handleRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, `enable`, relation_id, `type`, `status`, handle_remark
  </sql>
</mapper>