<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.resource.core.mapper.ResourceTypeMapper">
    <resultMap id="type" type="com.zukxu.resource.core.entity.ResourceType">
        <!--@mbg.generated-->
        <!--@Table resource_type-->
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="enable" property="enable"/>
        <result column="remark" property="remark"/>
        <result column="type_name" property="typeName"/>
        <result column="sort" property="sort"/>
        <result column="pics" property="pics"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <resultMap id="typeDTO" type="com.zukxu.resource.common.model.dto.TypeDTO">
        <id column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <result column="sort" property="sort"/>
        <result column="pics" property="pics"/>
        <result column="parent_id" property="parentId"/>
        <association property="children"
                select="com.zukxu.resource.core.mapper.ResourceTypeMapper.selectTypeById"
                column="{parentId=id}"
                fetchType="lazy">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time, update_time, `enable`, remark, type_name, sort,pics,parent_id
    </sql>

    <select id="selectTypeById" resultMap="typeDTO">
        SELECT id,type_name,sort,pics,parent_id
        FROM resource_type
        WHERE enable = 0
          AND parent_id = #{parentId}
        order by sort desc
        <if test="size != null">
            limit #{size}
        </if>
        <if test="offset != null">
            offset #{offset}
        </if>
    </select>
</mapper>