<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.resource.core.mapper.ResourceTypeMapper">
  <resultMap id="BaseResultMap" type="com.zukxu.resource.core.entity.ResourceType">
    <!--@mbg.generated-->
    <!--@Table resource_type-->
    <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="enable" property="enable" />
    <result column="remark" property="remark" />
    <result column="type_name" property="typeName" />
    <result column="sort" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, `enable`, remark, type_name, sort
  </sql>
    <select id="selectOrderByClomn" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from resource_type
    where enable=0
    <if test="page.fields != null and page.fields != ''">
    and type_name like CONCAT('%',#{page.fields},'%')
</if>
    order by CONVERT(type_name using gbk)
    <if test="page.size != null">
    limit #{page.size}
</if>
<if test="page.offset != null">
offset #{page.offset}
</if>
    </select>
</mapper>